.contact-page-container {
  height: 100vh;
  overflow-x: scroll !important;
  overflow-y: scroll !important;
  background-color: white;
}
.inights-page{
  background-color: #ffffff;
  margin-top: 6em;
}
.header-actions-layout{
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  box-sizing: border-box;
  position: fixed;
  // box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}