<!-- <div class="contact-page-container">
  <div class="header-actions-layout">
    <div  class="header-dashboard">
      <div class="page-title">
        <p>Insights</p>
      </div>
    </div>
    
  </div>
  <div class="inights-page" fxLayout="row" fxFlex="100">
    <div class="labels-layout" fxFlex="50">
      <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'>
        <e-series-collection>
            <e-series [dataSource]='chartData' type='Column' xName='month' yName='sales' name='Sales'></e-series>
        </e-series-collection>
    </ejs-chart>
    <div>dfgd</div>
    </div>
    <div class="labels-layout" fxFlex="50">
      <ejs-chart id="chart-container" [primaryXAxis]='primaryXAxis'>
        <e-series-collection>
          <e-series [dataSource]='chartData' type='Bar' xName='month' yName='sales' name='Sales'></e-series>
        </e-series-collection>
      </ejs-chart>
      <div>2hi</div>
    </div>
  
  </div>
  

</div> -->