
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-bottom: 2px;
    border: 1px solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
} 

.forms-page{
    background-color: #ffffff;
    margin-top: 3px;
}
.form-control{
    display: block;
    width:  96.3%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid black;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-group{
    margin-top: 10px;
    margin-bottom: 15px;
}

input.e-input::selection, .e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection, .e-float-input input::selection, .e-float-input.e-control-wrapper input::selection {
    background: none !important;
}

.e-popup {
    height: auto;
    position: absolute;
    width: auto;
    z-index: 1000;
}

.e-dialog {
    background-color: #fff;
    box-shadow: 0 12px 40px 5px rgba(0, 0, 0, 0.26);
} 

.e-dialog .e-dlg-content {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    overflow: auto;
    overflow: hidden !important;
}
.label {
    font-weight: 400;
    font-size: 18px;
    color: black;
    margin-bottom: 0px !important;
}
.e-control.e-grid .e-headercelldiv{
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 24px !important;
    color: #000000 !important;
}
.e-dialog[_ngcontent-c13] .e-dlg-content[_ngcontent-c13] {
    display: block;
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    overflow: auto;
    overflow: hidden !important;
}
.NewlabelLayout {
    display: block !important;
}

span.e-input-group-icon.e-ddl-icon.e-search-icon {
    margin-top: auto;
    margin-bottom: auto;
    left: -10px;
}
.role-choose[_ngcontent-c13] {
    height: 35px;
}
.user-input{
    min-width: 250px; 
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 10px;
}
.message-input{
    margin-top: 10px;
}
/* .e-control.e-grid .e-gridcontent tr.e-row:first-child .e-rowcell {
    border-top: 0;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
    border: 2px solid #e5e5e5 !important;
} */
@media screen and (min-width: 500px) and (max-width: 750px) and (-webkit-min-device-pixel-ratio: 1) {
    
}



.question-label-popup {
    margin-left: 0px !important;  
}