.e-sidebar{
    background: #333333;
    width: 250px;
        position: fixed;
        bottom: 0;
        top :0;
       // box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
        z-index: 999;
        -ms-overflow-y: auto;
        overflow-y: auto;
  }
  .e-sidebar.e-left {
      border-right: 0px !important;
  }
  .e-listview:not(.e-list-template) .e-list-item{
      background: #333333; 
      color: #fff; 
      padding: 0px !important;
      height: 60px !important;
      display: flex;
      flex-direction: row;
      display: block;
  }
  .e-listview .e-list-item.e-active{
      background: #777777 !important; 
  }
  .e-listview .e-icons{
      color: #fff;
  }

  .e-sidebar::-webkit-scrollbar
  {
      width: 1px;
      background-color: transparent;
  }
  
  .e-sidebar::-webkit-scrollbar-thumb
  {
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: transparent;
  }

.main-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0;
    padding: 0px;
    overflow: hidden;
}
.content{
    position: relative;
    top: 0px;
    left: 0px;
    right: 0;
    bottom: 0px;
    height: 100%;
    overflow-y: auto;
}
@media (min-width:600px) and (max-width:959px){
    .main-container {
        overflow: unset;
    }
    .content{
        overflow-y: unset;
    }

}
.scroll::-webkit-scrollbar
{
    width: 6px;
	background-color: #ffffff;
}

.scroll::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #E0E0E0;
}
.nav-toolbar{
  //  background: #2979FF;
  background: linear-gradient(103.5deg, #2979FF 0%, #24CDE4 100%);
    min-height: 60px;
}
.toolbar {
    background: linear-gradient(103.5deg, #2979FF 0%, #24CDE4 100%);
    min-height: 60px;
}
.nav-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    font-size: 24px;
    color: #FFFFFF;
   padding-left: 16px;
}
.nav-logo{
    width: 34px;
    height: 34px;
    margin-left: 10px;
}
.nav-item{
    display:flex;
    align-items: center;
    margin-left: 0px;
    text-decoration:none;
    color: #fff; 
    height: 60px;
    padding-left: 22px;
    padding-right: 22px;
}
.nav-item-icon{
    margin-left: 0px;
}

.nav-item-text{
    padding-left: 22px;
}
.expand-icon{
    font-size: 20px;
    padding-right: 15px;
}
.expand-text{
    display: none;
}
.activePage {
    background-color: #777777 !important;
}
