
<div class="container">
<!-- <div class="header" fxLayout="row" fxLayoutAlign="space-between center" >
  <div fxLayout="column" fxLayoutAlign="start start">
<div fxLayout="row" (click)="goTohome()" class="navigatebutton">
  <img class="logo" src="assets/images/logos/icon_react_bw_white_48.png">
  <div class="title">react</div>
</div>  </div>
<div fxLayout="column"  fxLayout.xs="row" fxLayoutGap="20px">

  <div class="title-right"><span (click)="goTohome()" class="welcomebutton">React for Business</span></div>

</div> </div> -->
<div class="toolbar" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" (click)="goTohome()" class="navigatebutton">
      <img class="logo" src="assets/images/logo.svg">
        <div class="title">react</div>
    </div>
    
    <div  fxLayoutGap="20px">
            <div class="title-right">
                <span (click)="goTohome()" class="welcomebutton">React for Business</span>
            </div>
        </div>

    
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" class="welcometext">
  <div class="content">

Let's be on the <span class="fontwhite">same book,</span> <br> even if not on the <span class="fontwhite">same page.</span>
   </div>
</div>
<div fxLayout="row" fxLayoutAlign="space-between start" class="sign">
 
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="100">

 
<button class="try">
  <span class="try-text">Download Now</span> 
</button>
</div>  
</div>
</div>

