
.push-right{
    left: 64px;
    transition: 0.1s;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
}

.push-left{
    left: 250px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
}
.mb-20 {
    margin-bottom: 20px;
}
:host ::ng-deep.label {
    font-weight: 500 !important;
}
:host ::ng-deep.dynamicform-submit{
    text-decoration :none !important;
    text-transform :none !important;
    height: 40px;
    background-color: #2979FF !important;
    border-color: transparent;
    color: #fff !important;
    width: 30%; 
    border-radius: 5px;
    margin-top: 30px !important;
    margin-bottom: 70px;

  }

:host ::ng-deep.e-upload .e-file-select-wrap {
    display: none !important;
}
:host ::ng-deep.e-upload .e-upload-files .e-upload-file-list {
    display: none !important;
}

:host ::ng-deep.e-upload .e-upload-files {
    display: none !important;
}
:host ::ng-deep.browsebutton {
margin-top: 30px !important;
text-transform: none !important;


}
:host ::ng-deep.filelabel {
    font-weight: 500 !important;
   // margin-top: 20px !important;
    color: #000000 !important;
    font-size: 16px !important;
}

:host ::ng-deep.e-upload {
    border-color:transparent !important;
}





