<div class="page-container">
  <div class="header-actions-layout">

    <div fxLayout="row" class="header-dashboard">

      <div class="page-title" fxFlex="50">
        <p>Contacts
          <span>
            <i class="right directionicon"></i>
          </span> Group
          <span>
            <i class="right directionicon"></i>
          </span> {{sampleName}} </p>
      </div>

      <!-- <div class="dashboard-icon" fxFlex="50%">
        <i id="dot-icons" class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </div> -->
    </div>

    <div class="header-button-layout" fxLayout="row" fxLayout.sm="column">

      <div class="header-button-left scrollmenu" fxFlex="60" fxLayoutAlign="start center">
        <button ejs-button class="header-actions-button" routerLink="/groups" routerLinkActive="active">

          <span>
            <i class="left directionicon"></i>
          </span> Back

        </button>
        <button ejs-button class="header-actions-button" id="targetButton" (click)="addMember($event)"
          *ngxPermissionsOnly="[rolePageActionType().create]">
          {{addgroupMember}}
        </button>
       
        <div *ngxPermissionsOnly="[rolePageActionType().delete]">
          <button ejs-button class="header-actions-button" (click)="onDeleteContact()" *ngIf="selectcount && makeAdmin">
            {{remMember}}
          </button>
        </div>

        <!--   <button ejs-button class="header-actions-button" (click)="onMakeAdmin()" *ngIf="selectmemberrecordcount && removeAdmin">
          {{btnTitle}}
        </button> -->
        <!-- <button ejs-button class="header-actions-button" (click)="addMember($event)" *ngIf="selectmemberrecordcount">
          {{memberTitle}}
        </button> -->
      </div>

      <div class="header-button-right" fxFlex="40" fxLayoutAlign="end center">
          <span class="totalCountLayout">{{page}} of {{totalPages}} {{pageType}} ({{dataLength}} {{itemType}})</span>
        <button ejs-button class="header-actions-button e-control e-btn" data-ripple="true" (click)='Previous()'
          [disabled]="page==1">
          <span *ngIf="page > 1">
            <i class="left directionicon"></i>
          </span>
          <span *ngIf="page==1">
            <i class="left disabled-direction-icon"></i>
          </span>Previous</button>
        <button ejs-button (click)='Next()' class="header-actions-button e-control e-btn" data-ripple="true"
          [disabled]="totalPages <= page">Next
          <span *ngIf="totalPages > page">
            <i class="right directionicon"></i>
          </span>
          <span *ngIf="totalPages <= page">
            <i class="right disabled-direction-icon"></i>
          </span>
        </button>
      </div>

    </div>

  </div>

  <!-- <div>
    <ejs-dialog #Dialog [buttons]='dlgButtons' [visible]='isOpenDialogue' [header]='header' [content]='bodycontents' [showCloseIcon]='showCloseIcon'
      isModal='true' [width]='width' class="deletedialog">
    </ejs-dialog>
  </div> -->

  <div>
    <ejs-dialog #Dialog id='dialog' header='Confirmation' class="popup-footer-layout delpopup"
      [visible]='isOpenDialogue' showCloseIcon='showCloseIcon' isModal='true'>
      <ng-template #content>
        <div fxFlex fxLayout="column" fxLayoutAlign="start none">
          <div class="popup-body-layout">
            <p class="delete-popup-alertmsg">Are you sure you want to remove the selected member?</p>
          </div>

          <div class="popup-footer-layout delpopup">
            <div fxFlex fxLayout="row" fxLayoutAlign="end" class="delete-popup-footer">
              <button class="header-actions-button yesbtn" id="btn" ejs-button (click)="okClick()">Yes</button>
              <button class="header-actions-button nobtn" id="btn" ejs-button (click)="cancelClick()">No</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-dialog>
  </div>

  <div>
    <ejs-dialog #AdminDialog id='dialog' header='Confirmation' class="popup-footer-layout delpopup"
      [visible]='isOpenDialogue' showCloseIcon='showCloseIcon' isModal='true'>
      <ng-template #content>
        <div fxFlex fxLayout="column" fxLayoutAlign="start none">
          <div class="popup-body-layout">
            <p class="delete-popup-alertmsg">Are you sure you want to change the role for the selected user?</p>
          </div>

          <div class="popup-footer-layout delpopup">
            <div fxFlex fxLayout="row" fxLayoutAlign="end" class="delete-popup-footer">
              <button class="header-actions-button yesbtn" id="btn" ejs-button (click)="okMakeAdminClick()">Yes</button>
              <button class="header-actions-button nobtn" id="btn" ejs-button (click)="cancelClick()">No</button>
            </div>
          </div>
        </div>
      </ng-template>
    </ejs-dialog>
  </div>

  <div>
    <ejs-dialog #AddGroupDialog id="dialog" header="Add Members" width="445px" [visible]="isOpen" showCloseIcon="true"
      isModal="true">
      <ng-template #content>

        <form name="form" [formGroup]="newGroupForm" class="NewGroupLayout" novalidate>
          <div class="popup-body-layout" fxFlex fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="20px">
            <div class="form-group membersLayout" fxLayoutGap="15px">
              <label class="labels">
                Members
              </label>
              <div>

                <ejs-multiselect #template class="select-multipleContact-grouplist" cssClass="membersdropdown"
                  id="multi-template" [popupHeight]="160" formControlName="userOrganisationMappingId"
                  [dataSource]="contacts" [fields]="multifield" [placeholder]="placeholder" fxLayoutGap="10px"
                  [closePopupOnSelect]="false"  [mode]='box'[allowFiltering]='true' (close)="onClose($event)"> 

                  <ng-template #itemTemplate let-data>
                    <div fxLayout="row" fxLayoutGap="10px">
                      <div class="multiprofileimg">
                        <span>
                          <img class="e-userimg profile-imgs" *ngIf="data.imageURL==null ||  data.imageURL==''"
                            src="assets/images/user.png" alt="{{data.id}}" />

                          <img class="e-userimg profile-imgs" *ngIf="data.imageURL"
                            src="{{environmentUrl}}{{data.imageURL}}" alt="{{data.id}}" />
                        </span>
                      </div>
                      <div class="conttact-group-add" fxLayoutGap="10px">
                        <div class="multiename">{{data.fullName}}</div>
                        <div class="multijob">{{data.emailAddress}}</div>
                      </div>
                    </div>
                  </ng-template>
                </ejs-multiselect>
              </div>
            </div>

            <div class="form-group">
              <label class="label">
                Description
              </label>
              <div class="border-layout">
                <textarea formControlName="description"
                  class='form-control textarea responsive-textarea contactgrouptextarea' rows='2'></textarea>
              </div>
            </div>

          </div>
          <div class="popup-footer-layout">

            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
              <button class="popup-footer-button" id="btn" [disabled]="!newGroupForm.valid" ejs-button
                (click)="Submit()">Send Invite</button>
            </div>
          </div>
        </form>
      </ng-template>
    </ejs-dialog>
  </div>

  <div>
    <ejs-dialog #AddConnectDialog id='dialog' width='35%' [buttons]='dlgButtonsConnect' [visible]='isOpenDialogue'
      [header]='headerConnect' [content]='bodycontentsConnect' [showCloseIcon]='showCloseIcon' isModal='true'>
      <ng-template #content>
        <span>Surely Connect the Connected</span>
        <!--  <button ejs-button ejs-button id="submitbutton"  class="contact-page-btn" (click)="connect(data.id,data.fullName); $event.stopPropagation()">
            <span class="connect-page">
                <i class="fa fa-close" aria-hidden="true"></i>
                Close</span>
        </button> -->
      </ng-template>
    </ejs-dialog>
  </div>


  <div class="tab-button-layout">

    <div fxLayout="column" fxLayoutAlign="center center" >

      <ejs-grid #connectgrid [dataSource]="paginationData" allowTextWrap='true' [filterSettings]='filterSettings'
        [allowFiltering]="true" [selectionSettings]="selectionSettings" [pageSettings]="initialPage"
        [editSettings]="editSettings" [allowPaging]="true" [allowSorting]="true" (rowSelecting)="selecte($event)" (deSelecting)="selecte($event)"
         width="100%" (checkBoxChange)="change($event)">

        <e-columns>

          <e-column textAlign='Center' field='FNames' type='checkbox' [allowFiltering]='false' [allowSorting]='false'
            width='38'>
            <span class="e-userimg sf-icon-Male"></span>
          </e-column>


          <e-column textAlign='Right' field='' headerText='' [allowEditing]=false [allowFiltering]='false' width='40'
            [allowSorting]='false'>
            <ng-template #template let-groupdata>
              <div class="empimg" *ngIf="groupdata.imageURL==null ||  groupdata.imageURL==''">
                <img class="e-userimg profile-imgs" src="assets/images/user.png" alt="{{groupdata.id}}" />
              </div>
              <div class="empimg" *ngIf="groupdata.imageURL">
                <img class="e-userimg profile-imgs" src="{{environmentUrl}}{{groupdata.imageURL}}" alt="{{groupdata.id}}" />
              </div>
            </ng-template>
          </e-column>

          <e-column field="fullName" headerText="Name" [filter]='filter' class="contactname"
            clipMode="EllipsisWithTooltip" width="105">
            <ng-template #template let-groupdata>
              <div class="edit-contacts contact-email">
                <div id="Emptext">{{groupdata.fullName}}</div>
                <div id="subtext">{{groupdata.emailAddress}}</div>
              </div>
            </ng-template>
          </e-column>

          <e-column field="rating" headerText="Ratings" [allowFiltering]='false' width="80" textAlign='Right'>
            <ng-template #template let-groupdata>
              <div class="edit-contacts">
                <div id="rating">{{4.5}}</div>
              </div>
            </ng-template>
          </e-column>

          <e-column field='groupdata.isActive' headerText='' [allowFiltering]='false' textAlign='Right' width='80'>
            <ng-template #template let-groupdata>
              <!-- <div class="statustext">
                <div *ngIf="groupdata.isAdmin == true" class="statusTypeOne"> Admin </div>
                <div *ngIf="groupdata.isAdmin == false" class="statusTypeTwo"> Member </div>
              </div> -->
            </ng-template>
          </e-column>


          <e-column field="dayValue" type="date" [filter]='filter' headerText="Last Activity" width="110">
            <ng-template #template let-groupdata>
              <div class="edit-contacts datetime">
                <div id="Emptext">{{groupdata.timeValue}}</div>
                <div id="subtext">{{groupdata.dayValue}}</div>
              </div>
            </ng-template>
          </e-column>
        </e-columns>
      </ejs-grid>

    </div>

  </div>

</div>

<div>
  <ejs-dialog #AddGroupDialog id="dialog" header="Add Members" width="445px" [visible]="isOpen" showCloseIcon="true"
    isModal="true">
    <ng-template #content>

      <form name="form" [formGroup]="newGroupForm" class="NewGroupLayout" novalidate>
        <div class="popup-body-layout" fxFlex fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="20px">
          <div class="form-group membersLayout" fxLayoutGap="15px">
            <label class="labels">
              Members
            </label>
            <div>

              <ejs-multiselect #template class="select-multipleContact-grouplist" cssClass="membersdropdown" id="multi-template" [popupHeight]="160" formControlName="userOrganisationMappingId"
                [dataSource]="contacts" [fields]="multifield" [placeholder]="placeholder" fxLayoutGap="10px" [closePopupOnSelect]="false"
                 [mode]='box' [allowFiltering]='true'> 

                <ng-template #itemTemplate let-data>
                  <div fxLayout="row" fxLayoutGap="10px">
                    <div class="multiprofileimg">
                      <span>
                        <img src="assets/images/circle.svg">
                      </span>
                    </div>
                    <div class="conttact-group-add" fxLayoutGap="10px">
                      <div class="multiename">{{data.fullName}}</div>
                      <div class="multijob">{{data.emailAddress}}</div>
                    </div>
                  </div>
                </ng-template>
              </ejs-multiselect>
            </div>
          </div>

          <div class="form-group">
            <label class="label">
              Description
            </label>
            <div>
              <textarea formControlName="description"
                class='form-control textarea responsive-textarea contactgrouptextarea' rows='2'></textarea>
            </div>
          </div>

        </div>
        <div class="popup-footer-layout">

          <div fxFlex fxLayout="column" fxLayoutAlign="center center">
            <button class="popup-footer-button" id="btn" [disabled]="!newGroupForm.valid" ejs-button
              (click)="Submit()">Send Invite</button>
          </div>
        </div>
      </form>
    </ng-template>
  </ejs-dialog>
</div>