.e-control.e-grid.e-responsive .e-rowcell, .e-control.e-grid.e-responsive .e-headercelldiv {
    text-overflow: clip !important;
    
}

.customcss {
    text-overflow: clip !important; 
}


.tabs-layout {
    //border-bottom: 3px solid #e0e0e0 !important;
    margin-top: 0px;
}

// .header-button-layout {
//     margin-bottom: 59px;
// }

.e-tab .e-tab-header .e-toolbar-item{

    min-width: 150px !important;
    text-align: center !important;
}

// .e-tab .e-tab-header .e-indicator {
//     background: none;
//    border-bottom: 2px solid #e0e0e0;
// }
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text, 
.e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
    color: #393939;
}
.e-grid .e-gridcontent tr.e-row:first-child .e-rowcell {
    border-top: 0;
    text-overflow: initial;
}
.e-control.e-grid .e-table {
    border-bottom: 3px solid #e0e0e0 !important;
} 

a.contact-link {
    text-decoration: none !important;
    text-decoration-style: unset !important;
    color: black !important;
}

.headerbuttons {
    border-bottom: 3px solid #e0e0e0 !important;
}
.e-control.e-grid.e-responsive .e-rowcell, .e-control.e-grid.e-responsive .e-headercelldiv {
    text-overflow: clip;
}




.e-control.e-tab .e-tab-header .e-toolbar-item .e-tab-text {
    text-transform: none !important;
}
.e-control.e-grid .e-columnheader {
    cursor: pointer;
    color: black !important;
    font-weight: bold;
}

.customcss {
    color: red !important; 
}
/* 
.e-control, .e-css {
    color: #212121 !important;
}
 */

.e-gridheader {
    color: rgb(33, 33, 33) !important;
    font-weight: bold !important;
    }
    .e-control.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap {
    border-radius: 0;
    color: rgba(0, 0, 0, 0.54);
}


    // .e-control.e-btn:disabled, .e-css.e-btn:disabled {
    // color: rgba(0, 0, 0, 0.26) !important;
    // border: 0.5px solid #e0e0e0 !important;
// }

.e-control.e-tab .e-tab-header .e-toolbar-item .e-tab-wrap {
    border-radius: 0;
    color: rgb(33, 33, 46) !important;
}

@media screen and (min-width: 600px) and (max-width: 959px) and (-webkit-min-device-pixel-ratio: 1) {
   
    div.scrollmenu {
        overflow: auto;
        white-space: nowrap;
      }
      
      div.scrollmenu{
        display: inline-block;
        color: #888888;
        text-align: center;
        padding: 6px;
        text-decoration: none;
      }
}
i#dot-icons {
    border: 0px;
}
.e-control.e-dialog .e-dlg-header-content + .e-dlg-content {

    padding: 14px;
}
.contactname {
    margin-left: 20px !important;
}
.e-headercell e-ellipsistooltip {
    padding-left: 80px !important;
}

// @media screen and (min-width: 600px) and (max-width: 1200px) {
// .tabbuttonscroll {
//     width: 25% !important;
// }
// }

button.btn-editcontact {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    width: 50%;
}
button.btn-editcontact:hover {
    border: 0;
    background-color: #e0e0e0;
    cursor: pointer;
    width: 50%;
}
button.tab-button.tabbuttonscroll.add-all.e-control.e-btn {

   // padding-left: 20px;
}
.edit-contacts{
    cursor: pointer;
    //margin-left: -6px !important;
}

.contact-page-btn{
    height: 30px !important;
    border:0.5px solid #333333;
    box-sizing: border-box !important;
    box-shadow: none !important;
    border-radius: 2px !important;
    text-transform: none !important;
    padding-top: 1px;
    padding-bottom: 1px;
    background: #ffffff !important;
    margin-left: -3px;
}
i.fa.fa-plus{
    border: 0px;
}
.contact-page-btn:hover:enabled{
    background: #ffffff !important;
    box-shadow: 1px 2px 3px rgba(51, 51, 51, 0.5) !important;
    border: 0px !important;
}
.e-control.e-grid .e-gridheader {
    border-top-color: transparent !important;
}
.checkbox-celldata{
    width:10px !important;
    background: red;
}
@media screen and (min-width: 600px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 1) {
    .checkbox-celldata{
width:70px !important;
    }
}

// .e-control.e-dialog[_ngcontent-c21] .e-dlg-header-content[_ngcontent-c21] + .e-dlg-content[_ngcontent-c21]{
//     padding-left: 63px !important;
//     padding-right: 35px !important;
// }

.e-control.e-dialog .e-dlg-header-content + .e-dlg-content {
    padding-top: 0;
    display: initial !important;
}

.header-actions-button.yesbtn {
    background-color: white;
}

.header-actions-button.nobtn {
    background-color: white;
}

// :host ::ng-deep.e-control.e-grid .e-gridheader .e-sortfilter .e-headercelldiv, .e-control.e-grid .e-gridheader .e-stackedheadercelldiv, .e-control.e-grid .e-gridheader .e-headercell .e-headercelldiv.e-headerchkcelldiv {
//     padding: 0 0.8em 0 0em !important;
//    /* padding-left: 7px; */
// }
.e-control.e-grid .e-rowcell .e-checkbox-wrapper, .e-control.e-grid .e-rowcell .e-css.e-checkbox-wrapper {
    // height: 21px;
    line-height: 20px;
    margin-left: -7px;
}
.e-control.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check) {
    color: #212121;
    margin-left: 0px !important;
   
}
.disablegrid {
    pointer-events: none;
    opacity: 0.4;
}

.user-input {
    min-width: 250px;
    border: 1px solid black;
    border-radius: 0px;
    margin-top: 0px !important;
}
.label {
    margin-bottom: 0px !important;
}
/* */
.e-bigger #employees_popup .e-dropdownbase .e-list-item {
    line-height: 40px;
    height: 64px;
}

.e-bigger #employees_popup.e-popup .empImage {
    margin: 10px 16px;
}

#employees .name {
    padding: 7px 42px;
    opacity: .87;
    line-height: 1.063em;
}
#employees .valueTemp {
    border-radius: 50%;
    float: left;
    margin-top: 2px;
    margin-left: 2px;
}

.e-bigger #employees .valueTemp {
    margin-top: 7px;
}

.e-bigger #employees .name {
    padding: 11px 42px;
}

#employees_popup .head {
    font-weight: 600;
    height: 48px;
    padding: 15px 0 0 16px;
    color: rgba(0, 0, 0, .54);
    font-size: 16px;
    background-color: #f5f5f5;
}

.fabric #employees_popup .head {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    color: #0078d7;
    font-weight: 400;
}

.highcontrast #employees_popup .head {
    color: #fff;
    background-color: #000;
}

.bootstrap4 #employees_popup .head {
    color: #6c757d;
}

.e-bigger #employees_popup .e-dropdownbase .e-list-item {
    line-height: 40px;
    height: 80px;
}

#employees_popup .ename {
    display: block !important;
    opacity: .87;
    font-size: 16px;
    margin-top: 9px;
}

#employees_popup .job {
    opacity: .54;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 11px;
}

.e-bigger #employees_popup .job {
    margin-top: -16px;
}

#employees_popup .empImage {
    margin: 6px 16px;
    float: left;
    width: 50px;
    height: 50px;
}

#employees_popup .e-dropdownbase .e-list-item * {
    display: block;
    text-indent: 0;
}

.bootstrap4 #employees_popup.e-popup .empImage {
    margin: 0px 16px;
}

.bootstrap4 #employees_popup.e-popup .job {
    margin-top: 0;
}

.e-bigger.bootstrap4 #employees_popup.e-popup .job {
    margin-top: -15px;
}

// .popup-body-layout {
//     padding: 28px 37px 50px !important;
//     box-shadow: inset 0px 0px 4px #333333;
// }

.NewGroupLayout {
    height: 100% !important;
    display: block !important;
}

.label {
    font-weight: 400;
    font-size: 18px;
    color: black;
    margin-bottom: 0px !important;
}

.labels {
    font-weight: 400;
    font-size: 18px;
    color: black;
    margin-bottom: 0px !important;
    line-height: 1.5em;
    margin-left: 6px;
}

label.contact-label {
    font-size: 16px;
    color: #000000;
    min-width: 200px;
    margin-bottom: auto;
    margin-top: auto;
   
}

.user-input {
    margin-top: 5px;
}

.groupname {
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.input-control{
    display: block;
    width: 95.7% !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    // color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid black;
    // width: 100%;
    // border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.input-control:disabled {
    cursor: not-allowed !important; 
}

// .grpmsgarea {
//     margin-top: 50px !important;
// }

.form-control {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    // color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid black;
    // width: 100%;
    // border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.textarea.contactgrouptextarea {
    width: 95.7% !important;
    height: 80px;
    border-color: black !important;
    margin-bottom: 15px;
}
.responsive-textarea.contactgrouptextarea{
    margin-left: 0px;
}


.responsive-textarea.contactgrouptextarea:disabled {
    cursor: not-allowed !important;
}

.e-dialog {
    background-color: #fff;
    box-shadow: 0 12px 40px 5px rgba(0, 0, 0, 0.26);
} 



.e-dialog .e-dlg-content {
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    overflow: auto;
    overflow: hidden !important;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
    // border-radius: 8px !important;
}

.e-popup {
    height: auto;
    position: absolute;
    width: auto;
    z-index: 1000;
}

.form-group {
    margin-bottom: 15px;
}
.grid-action-button {
    margin: 0 !important;
}
// .e-control.e-grid[_ngcontent-c13] .e-rowcell[_ngcontent-c13] .e-checkbox-wrapper[_ngcontent-c13], .e-control.e-grid[_ngcontent-c13] .e-rowcell[_ngcontent-c13] .e-css.e-checkbox-wrapper[_ngcontent-c13] {
//     height: 21px;
//     line-height: 10px;
//     margin-left: -7px;
//     padding-top: 15px;
// }
/* css for header checkbox */
// .e-checkbox-wrapper .e-frame + .e-label, .e-css.e-checkbox-wrapper .e-frame + .e-label {
//     margin-left: 0px;
//     margin-top: auto;
//     margin-bottom: auto;
// }
.inviteButton {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    align-self: center;
    vertical-align: middle; 
    text-align: center; 
    justify-content: center; 
}

.customfilter.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error) .e-input-in-wrap {
    // border-color: rgba(0, 0, 0, 0.42);
    // border: none !important;
    height: 26px !important;  
    vertical-align: center !important;
    font-size: 16px !important;
    line-height: 18px !important;
    margin: 8px !important;
    vertical-align: middle;
    padding: 6px !important;
    width: auto !important;
    border: 0.5px solid #f1f1f1 !important;
    height: auto !important;

}



