<div class="page-container">
    <div class="header-actions-layout">
        <div fxLayout="row" class="header-dashboard">
            <div class="page-title" fxFlex="50%">
                <p>Contacts</p>
            </div>
            <!-- <div class="dashboard-icon" fxFlex="50%">
                <i id="dot-icons" class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div> -->
        </div>
        <!-- <label class="upload-button">
            <input type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple>

          </label>

        <pre>{{files | json}}</pre> -->
        <div class="header-button-layout " fxLayout="row" fxLayout.sm="column">
            <div class="header-button-left scrollmenu" fxFlex="60" fxLayoutAlign="start center">
                <button *ngxPermissionsOnly="[rolePageActionType().create]" ejs-button class="header-actions-button contact-link" (click)="newcontact(0)">New Contact
                </button>
                <button ejs-button class="header-actions-button" routerLink="/import">Import</button>
                <div *ngxPermissionsOnly="[rolePageActionType().delete]">
                    <button ejs-button class="header-actions-button" (click)="onDeleteContact()" *ngIf="selectcount">Delete</button>
                </div>

                <button ejs-button class="header-actions-button" *ngIf="dataLength > 0" (click)="exportCSV($event)">Export</button>
                <button #moreButton ejs-dropdownbutton [items]='items' class="header-actions-button" (select)='moreOption($event)'>More</button>
               
                <div *ngIf="showGroupPopup">
                    <app-makegroup (emitClosePopupFromGroup)="closedFromGroup($event)" (click)="SubmitGroup($event)"></app-makegroup>
                </div>
                <div *ngIf="showTransferPopup">
                    <app-transfer (emitClosePopupFromTransfer)="closedFromTransfer($event)" (click)="Transfer($event)"></app-transfer>
                </div>
            </div>
            <div class="header-button-right" fxFlex="40" fxLayoutAlign="end center">
                    <span class="totalCountLayout">{{page}} of {{totalPages}} {{pageType}} ({{dataLength}} {{itemType}})</span>
                <button ejs-button class="header-actions-button e-control e-btn" data-ripple="true" (click)='Previous()' [disabled]="page==1">
                    <span *ngIf="page > 1">
                        <i class="left directionicon"></i>
                    </span>
                    <span *ngIf="page==1">
                        <i class="left disabled-direction-icon"></i>
                    </span>Previous</button>
                <button ejs-button (click)='Next()' class="header-actions-button e-control e-btn" data-ripple="true" [disabled]="totalPages <= page">Next
                    <span *ngIf="totalPages > page">
                        <i class="right directionicon"></i>
                    </span>
                    <span *ngIf="totalPages <= page">
                        <i class="right disabled-direction-icon"></i>
                    </span>
                </button>
            </div>

        </div>
    </div>
    <!-- <div>
        <ejs-dialog #DeleteContactsDialog [buttons]='dlgButtons' [visible]='isOpenDialogue' [header]='header' [content]='bodycontents' [showCloseIcon]='showCloseIcon'
            isModal='true' [width]='width' class="deletedialog">
        </ejs-dialog>
    </div> -->

    <div>
        <ejs-dialog #DeleteContactsDialog header='Confirmation' class="popup-footer-layout delpopup" [visible]='isOpen' showCloseIcon='true'
            width='400px' isModal='true'>
            <ng-template #content>
                <div fxFlex fxLayout="column" fxLayoutAlign="start none">

                    <div class="popup-body-layout delpopup">
                        <p class="delete-popup-alertmsg">Are you sure you want to delete the selected contact?</p>
                    </div>

                    <div class="popup-footer-layout">
                        <div fxFlex fxLayout="row" fxLayoutAlign="end" class="delete-popup-footer">
                            <button class="header-actions-button yesbtn" id="btn" ejs-button (click)="okClick()">Yes</button>
                            <button class="header-actions-button nobtn" id="btn" ejs-button (click)="cancelClick()">No</button>
                        </div>
                    </div>

                </div>
            </ng-template>
        </ejs-dialog>
    </div>

    <div class="tab-actions-layout">
        <div class="tab-button-layout " id="tab_btn_res">
            <div class="header-button-left" fxFlex="100" fxLayout="row">
                <button ejs-button class="tab-button tabbuttonscroll add-all" routerLink="/contacts" routerLinkActive="tabbuttonactive">All</button>
                <!-- <button ejs-button class="tab-button"  [ngClass]="{'active':isClicked}" (click)="isClicked = (isClicked? false :true )">Users</button> -->
                <button ejs-button class="tab-button tabbuttonscroll" routerLink="/connected" routerLinkActive="tabbuttonactive">Connected</button>
                <button ejs-button class="tab-button tabbuttonscroll" routerLink="/employees" routerLinkActive="tabbuttonactive">Employees</button>
                <button ejs-button class="tab-button tabbuttonscroll" routerLink="/groups" routerLinkActive="tabbuttonactive">Groups</button>
            </div>
        </div>
    </div>

    <div fxLayout="column" *ngIf="paginationData!=null">
        <ejs-grid id="Grid" class="customfilter" #grid [dataSource]='paginationData' [allowExcelExport]='true' [filterSettings]='filterOptions' [allowFiltering]="true"
            allowTextWrap='true' [selectionSettings]='selectionSettings' [pageSettings]='initialPage' [editSettings]='editSettings'
            [allowPaging]="true" [allowSorting]="true" (rowSelecting)="select($event)" width="100%" (checkBoxChange)="change($event)"
            (change)='valueChange($event)' (beforeExcelExport)='beforeExcelExport($event)' >
            <e-columns>
                <e-column  textAlign='Center' field='FNames' type='checkbox' [allowFiltering]='false' [allowSorting]='false' width='38'>
                    <!-- <span class="e-userimg sf-icon-Male"></span> -->
                </e-column>
                <e-column textAlign='Right' class="imagecolumn" field='' headerText='' [allowEditing]=false width='40' [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                        <div class="empimg" *ngIf="data.imageURL==null ||  data.imageURL==''">
                            <!-- <img class="e-userimg profile-imgs" src="https://content1.jdmagicbox.com/comp/chennai/50/044p7031250/catalogue/xenovex-technologies-pvt-ltd-vadapalani-chennai-computer-software-developers-8lpi0v6lk6.jpg?interpolation=lanczos-none&output-format=jpg&resize=1024:*&crop=1024:270px;*,*"
                                alt="{{data.id}}" /> -->
                               
                                        <img class="e-userimg profile-imgs" src="assets/images/user.png" alt="{{data.id}}" /> 
                               
                        </div>
                        <div class="empimg" *ngIf="data.imageURL">
                            <img class="e-userimg profile-imgs" src="{{environmentUrl}}{{data.imageURL}}" alt="{{data.id}}" />
                        </div>
                    </ng-template>
                </e-column>

                <e-column textAlign='Left' field='fullName' headerText='Name' [filter]='filter' class="contactname" clipMode='EllipsisWithTooltip'
                    width='160'>
                    <ng-template #template let-data>
                        <div class="edit-contacts contact-email">
                            <div id="Emptext">{{data.fullName}}</div>
                            <div id="subtext">{{data.emailAddress}}</div>
                        </div>

                    </ng-template>
                </e-column>

                <e-column field='Rating'  headerText='Ratings' [allowSorting]='false' [allowFiltering]='false' [customAttributes]='customAttributes' width='83' textAlign='Right'>
                    <ng-template #template let-data>
                        <div class="edit-contacts">
                            <div id="rating">{{4.5}}</div>
                        </div>
                    </ng-template>
                </e-column>
                <e-column field='connectionStatusTypeName' headerText='Status' [filter]='filter' [customAttributes]='customAttributes' width='150'
                    textAlign='Right'>
                    <ng-template #template let-data>
                        <div class="edit-contacts">
                            <div id="statustext" [ngClass]="{
                                'statusTypeOne' : data.connectionStatusType == contactStatusType().AddedAsContact,
                                'statusTypeTwo' : data.connectionStatusType == contactStatusType().InviteSent,
                                'statusTypeThree' : data.connectionStatusType == contactStatusType().RequestSent,
                                'statusTypeFour' : data.connectionStatusType == contactStatusType().InviteSent,
                                'statusTypeFive' : data.connectionStatusType == contactStatusType().Connected,
                                'statusTypeSix' : data.connectionStatusType == contactStatusType().Rejected,
                                'statusTypeSeven' : data.connectionStatusType == contactStatusType().UserRequestSent,
                                'statusTypeEight' : data.connectionStatusType == contactStatusType().Active,
                                'statusTypeNine' : data.connectionStatusType == contactStatusType().UserRequestRejected}">{{data.connectionStatusTypeName}}</div>
                        </div>
                    </ng-template>
                </e-column>
                <e-column  field='' headerText='' [allowEditing]=false width='30' [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                    </ng-template>
                </e-column>
                <e-column field='dayValue' [filter]='filter' headerText='Last Activity' width='100'>
                    <ng-template #template let-data>
                        <div class="edit-contacts datetime">
                            <div id="Emptext">{{data.timeValue}}</div>
                            <div id="subtext">{{data.dayValue}}</div>

                        </div>
                    </ng-template>
                </e-column>

                <e-column field='contactStatusType' textAlign='Center' headerText='Actions' width='100' [allowFiltering]="false" [allowSorting]='false'>
                    <ng-template #template let-data>
                        <div class="edit-contacts button-layaout" style="align-items: center">
                            <div *ngIf="(data.contactStatusType==contactStatusResult().Invite) && (data.connectionStatusType==contactStatusType().AddedAsContact)">
                                <button ejs-button ejs-button id="submitbutton" class="header-actions-button grid-action-button inviteButton" (click)="invitePeople(data); $event.stopPropagation()">
                                    <span class="connect-page">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Invite</span>
                                </button>
                            </div>
                            <div *ngIf="(data.contactStatusType==contactStatusResult().Connect) && (data.connectionStatusType==contactStatusType().AddedAsContact ||  data.connectionStatusType==contactStatusType().Rejected || data.connectionStatusType==contactStatusType().InviteSent) ">
                                <button ejs-button ejs-button id="submitbutton" class="header-actions-button grid-action-button inviteButton" (click)="connectPeople(data); $event.stopPropagation()">
                                    <span class="connect-page">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Connect</span>
                                </button>
                            </div>
                        </div>
                    </ng-template>
                </e-column>
            </e-columns>
        </ejs-grid>
    </div>
</div>
<div class="main-container">

    <!-- <div class="content scroll">
        <router-outlet></router-outlet>
    </div> -->
</div>