.outerdiv {
    background-color: #036cef;
    padding-bottom: 10px;
    height: 100vh;
}

.innerdiv {
    background-color: white;
    padding: 16px;
    font-size: 0.85em;
    white-space:normal;
    margin-top: 1%;
    height:25% !important; 
    width:25% !important; 
}
.organisationlisting{
    padding: 16px;
}