<div fxLayout="row"  class="header-dashboard">
    <div class="page-title" fxFlex="50%">
        <p>Dashboard</p>
    </div>
   
</div>
<div fxLayoutGap="15px">
    <div class="container" fxLayoutGap="15px">

        <div class="box-widgets" fxFlex="32%">

        </div>

        <div class="box-widgets" fxFlex="32%">

        </div>

        <div class="box-widgets" fxFlex="32%">

        </div>

        <div class="box-widgets" fxFlex="5%">
            <span>
                <i class="fa fa-angle-right" aria-hidden="true"></i>

            </span>
        </div>
    </div>

    <div class="container2" fxLayoutGap="15px">

        <div class="fifth-box" fxFlex="60%">

        </div>

        <div class="six-box" fxFlex="35%">

        </div>

    </div>
</div>