<div class="page-container">
    <div class="header-actions-layout">
        <div fxLayout="row" class="header-dashboard">
            <div class="page-title" fxFlex="50%">
                <p>Share ({{headingTilte}})</p>
            </div>

        </div>

        <div class="header-button-layout " fxLayout="row" fxLayout.sm="column">
            <div class="header-button-left" fxFlex="60" fxLayoutAlign="start center">
                <button ejs-button class="header-actions-button" id="targetButton"
                    (click)="Cancel()">
                    <span>
                        <i class="left directionicon"></i>
                    </span>Back</button>
                <button ejs-button class="header-actions-button" (click)='addShareContacts()'>{{headerButtonTitle}}
                </button>
                <button ejs-button class="header-actions-button" *ngIf="selectcount" (click)="delete()">Delete</button>

            </div>
            <div class="header-button-right" fxFlex="40" fxLayoutAlign="end center">
                    <span>{{page}} of {{totalPages}} {{pageType}} ({{dataLength}} {{itemType}})</span>
                <button ejs-button class="header-actions-button e-control e-btn" data-ripple="true" (click)='Previous()'
                    [disabled]="page==1">
                    <span *ngIf="page > 1">
                        <i class="left directionicon"></i>
                    </span>
                    <span *ngIf="page == 1">
                        <i class="left disabled-direction-icon"></i>
                    </span>Previous</button>
                <button ejs-button (click)='Next()' class="header-actions-button e-control e-btn" data-ripple="true"
                    [disabled]="totalPages <= page">Next
                    <span *ngIf="totalPages > page">
                        <i class="right directionicon"></i>
                    </span>
                    <span *ngIf="totalPages <= page">
                        <i class="right disabled-direction-icon"></i>
                    </span>
                </button>
            </div>

        </div>
    </div>


    <div fxLayout="column" *ngIf="paginationData!=null">
        <ejs-grid #grid [dataSource]='paginationData' [filterSettings]='filterOptions' [allowFiltering]="true"
            allowTextWrap='true' [selectionSettings]='selectionSettings' [pageSettings]='initialPage'
            [editSettings]='editSettings' [allowPaging]="true" [allowSorting]="true" (rowSelecting)="select($event)"
            width="100%" (checkBoxChange)="change($event)">

            <e-columns>
                <e-column field='FNames' textAlign='Center' type='checkbox' id="checkBox" [allowFiltering]='false'
                    [allowSorting]='false' width='38'>
                </e-column>
                <!-- <e-column textAlign='Right' field='name' headerText='' textAlign='Left' width=50 [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                        <div class="empimg" *ngIf="data.userFromImageURL==null ||  data.userFromImageURL==''">
                            <img class="e-userimg profile-imgs" src="https://content1.jdmagicbox.com/comp/chennai/50/044p7031250/catalogue/xenovex-technologies-pvt-ltd-vadapalani-chennai-computer-software-developers-8lpi0v6lk6.jpg?interpolation=lanczos-none&output-format=jpg&resize=1024:*&crop=1024:270px;*,*"
                                alt="{{data.id}}" />
                        </div>
                        <div class="empimg" *ngIf="data.userFromImageURL">
                            <img class="e-userimg profile-imgs" src="{{environmentUrl}}{{data.userFromImageURL}}" alt="{{data.id}}" />
                        </div>
                    </ng-template>
                </e-column> -->
                <e-column field='' headerText='' textAlign='Right' [allowEditing]=false width='40'
                    [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                        <div class="empimg" *ngIf="data.userFromImageURL">
                            <img class="e-userimg profile-imgs" 
                                src="{{environmentUrl}}{{data.userFromImageURL}}" alt="{{data.id}}" />
                        </div>
                        <div class="empimg" *ngIf="data.userFromImageURL==null ||  data.userFromImageURL==''">
                            <img class="e-userimg profile-imgs" src="assets/images/user.png" alt="{{data.id}}" />
                        </div>
                    </ng-template>
                </e-column>
                <e-column field='userFromFullName' headerText='Share From' width="200" textAlign='left'
                    [filter]='filter' [customAttributes]='customAttributes'>
                    <ng-template #template let-data>
                        <div class="edit-contacts contact-email">
                            <div id="Emptext">{{data.userFromFullName}}</div>
                            <div id="subtext">{{data.userFromEmailAddress}}</div>
                        </div>

                    </ng-template>


                </e-column>
                <!-- <e-column textAlign='Right' field='name' headerText='' textAlign='Left' width=50
                    [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                        <div class="empimg" *ngIf="data.userToImageURL==null ||  data.userToImageURL==''">
                            <img class="e-userimg profile-imgs"
                                src="https://content1.jdmagicbox.com/comp/chennai/50/044p7031250/catalogue/xenovex-technologies-pvt-ltd-vadapalani-chennai-computer-software-developers-8lpi0v6lk6.jpg?interpolation=lanczos-none&output-format=jpg&resize=1024:*&crop=1024:270px;*,*"
                                alt="{{data.id}}" />
                        </div>
                        <div class="empimg" *ngIf="data.userToImageURL">
                            <img class="e-userimg profile-imgs" src="{{environmentUrl}}{{data.userToImageURL}}"
                                alt="{{data.id}}" />
                        </div>
                    </ng-template>
                </e-column> -->
                <e-column field='' headerText='' textAlign='Right' [allowEditing]=false width='40'
                    [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                        <div class="empimg" *ngIf="data.userToImageURL">


                            <img class="e-userimg profile-imgs" *ngIf="data.userToImageURL"
                                src="{{environmentUrl}}{{data.userToImageURL}}" alt="{{data.id}}" />
                        </div>
                        <div class="empimg" *ngIf="data.userToImageURL==null ||  data.userToImageURL==''">
                            <img class="e-userimg profile-imgs" src="assets/images/user.png" alt="{{data.id}}" />
                        </div>
                    </ng-template>
                </e-column>
                <e-column field='userToFullName' headerText='Share To' width="200" textAlign='left' [filter]='filter'
                    [customAttributes]='customAttributes'>
                    <ng-template #template let-data>
                        <div class="edit-contacts contact-shareto">
                            <div id="Emptext">{{data.userToFullName}}</div>
                            <div id="subtext">{{data.userToEmailAddress}}</div>
                        </div>

                    </ng-template>


                </e-column>
                <e-column  field='' headerText='' [allowEditing]=false width='30' [allowFiltering]='false' [allowSorting]='false'>
                    <ng-template #template let-data>
                    </ng-template>
                </e-column>
                <e-column headerText='View' width="80" textAlign='left' [customAttributes]='customAttributes'
                    [allowFiltering]='false' [allowSorting]='false'>

                    <ng-template #template let-data>
                        <div class="share-view">
                        <ejs-checkbox label="Small" [enableRtl]="true" class="contact-label" [checked]="data.isView"
                            [disabled]="true" label="View" cssClass="permission_class"></ejs-checkbox>
                        </div>
                    </ng-template>

                </e-column>

                <e-column headerText='Edit' width="80" textAlign='left' [customAttributes]='customAttributes'
                    [allowFiltering]='false' [allowSorting]='false'>

                    <ng-template #template let-data>
                        <div class="share-edit">
                        <ejs-checkbox label="Small" [enableRtl]="true" class="contact-label" [checked]="data.isEdit"
                            label="Edit" [disabled]="true" cssClass="permission_class"></ejs-checkbox>
                        </div>
                    </ng-template>

                </e-column>

            </e-columns>

        </ejs-grid>
    </div>


</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <ejs-dialog #AddShareDialog id='dialog' header={{headerTitle}} width='750px' [visible]='showSharePopup'
        showCloseIcon='true' isModal='true'>
        <ng-template #content>
            <form name="form" [formGroup]="newshareForm" class="NewUserLayout" novalidate>
                <div class="popup-body-layout" fxFlex fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="20px">
                    <div>
                        <label class="label">Share From</label>
                        <div class="user-input transferFromDropdown" *ngIf="!selectedSharedRecord && isAdminCheck">

                            <ejs-dropdownlist #transferFrom id='employees' [dataSource]='contactsShareFrom'
                                [fields]='fields' [popupHeight]='height' [placeholder]='watermark'
                                formControlName="userFromId" class="shareFromLayout" (select)='shareFromChange($event)' (close)="onClose($event)" [allowFiltering]='true'>
                                <!-- <ng-template>
                                    <div class="head">
                                        <span class="photo">Photo</span>
                                        <span style="margin-left:17px;">Employee Info</span>
                                    </div>
                                </ng-template>
                                <ng-template let-data>
                                    <div>
                                        <img class="e-userimg profile-imgs" src="assets/images/user.png"
                                            alt="{{data.id}}" />
                                        <div class="ename"> {{data.Name}} </div>
                                        <div class="job"> {{data.Designation}} </div>
                                    </div>
                                </ng-template>
                                <ng-template let-data>
                                    <div>
                                        <img class="e-userimg profile-imgs" src="assets/images/user.png"
                                            alt="{{data.id}}" />
                                        <div class="name"> {{data.Name}} </div>
                                    </div>
                                </ng-template> -->
                            </ejs-dropdownlist>
                        </div>

                        <div class='form-group newuserborder' *ngIf="shareFromSelectedContact">
                            <div class="Newuserempimg">
                                <img class="e-userimg profile-imgs" *ngIf="shareFromImageURL==null ||  shareFromImageURL==''"
                                    src="assets/images/user.png"
                                    alt="{{shareFromSelectedContact.id}}" />

                                <img class="e-userimg profile-imgs" *ngIf="shareFromImageURL"
                                    src="{{environmentUrl}}{{shareFromImageURL}}"
                                    alt="{{shareFromSelectedContact.id}}" />
                            </div>
                            <div id="NewuserEmptext">{{shareFromName}}</div>
                            <div id="Newusersubtext">{{shareFromEmail}}</div>
                        </div>
                        <div class='form-group newuserborder' *ngIf="selectedSharedRecord">
                            <div class="Newuserempimg">
                                <img class="e-userimg profile-imgs" *ngIf="selectedSharedRecord.userFromImageURL==null ||  selectedSharedRecord.userFromImageURL==''"
                                 src="assets/images/user.png"
                                    alt="{{selectedSharedRecord.id}}" />

                                <img class="e-userimg profile-imgs" *ngIf="selectedSharedRecord.userFromImageURL"
                                    src="{{environmentUrl}}{{selectedSharedRecord.userFromImageURL}}"
                                    alt="{{selectedSharedRecord.id}}" />
                            </div>
                            <div id="NewuserEmptext">{{selectedSharedRecord.userFromFullName}}</div>
                            <div id="Newusersubtext">{{selectedSharedRecord.userFromEmailAddress}}</div>
                        </div>
                    </div>
                    <div class="user-groupinput share_page" fxLayoutGap="28px">

                        <label class="label sharetoLabel">Share To</label>
                        <div *ngIf="!selectedSharedRecord">
                            <ejs-multiselect #template class="contact-choose shareToLayout" cssClass="SharetoDropDown"
                                id="multi-template" [popupHeight]="160" [popupWidth]="673" [dataSource]="contacts"
                                [fields]="multifield" [placeholder]="placeholder" fxLayoutGap="10px"
                                [closePopupOnSelect]="false" [placeholder]="placeholder" [mode]='box'
                                formControlName="userToId" (select)='shareToChange($event)' (close)="onClose($event)">

                                <ng-template #itemTemplate let-data>
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <div class="multiprofileimg">
                                            <span>
                                                <img class="e-userimg profile-imgs" 
                                                *ngIf="data.imageURL==null ||  data.imageURL==''"
                                                 src="assets/images/user.png"
                                                    alt="{{data.id}}" />

                                                <img class="e-userimg profile-imgs" *ngIf="data.imageURL"
                                                    src="{{environmentUrl}}{{data.imageURL}}" alt="{{data.id}}" />
                                            </span>
                                        </div>
                                        <div class="conttact-group-add" fxLayoutGap="10px">
                                            <div class="multiename">{{data.fullName}}</div>
                                            <div class="multijob">{{data.emailAddress}}</div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ejs-multiselect>
                        </div>
                        <div class='form-group newuserborder' *ngIf="selectedSharedRecord">
                            <div class="Newuserempimg">
                                <img class="e-userimg profile-imgs" *ngIf="selectedSharedRecord.userToImageURL==null ||  selectedSharedRecord.userToImageURL==''"
                                src="assets/images/user.png"
                                    alt="{{selectedSharedRecord.id}}" />

                                <img class="e-userimg profile-imgs" *ngIf="selectedSharedRecord.userToImageURL"
                                    src="{{environmentUrl}}{{selectedSharedRecord.userToImageURL}}"
                                    alt="{{selectedSharedRecord.id}}" />
                            </div>
                            <div id="NewuserEmptext">{{selectedSharedRecord.userToFullName}}</div>
                            <div id="Newusersubtext">{{selectedSharedRecord.userToEmailAddress}}</div>
                        </div>
                    </div>
                    <div class="shareLayout" *ngIf="selectedSharedRecord"></div>
                    <div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="28px" class="share-checkbox-layout"
                        [ngClass]="enableCheckBox ? 'enableCheckbox' : 'disablecheckbox'">
                        <ejs-checkbox label="Small" [enableRtl]="true" class="contact-label" [checked]="isView"
                            label="View" formControlName="isView" cssClass="permission_class"></ejs-checkbox>

                        <ejs-checkbox label="Small" [enableRtl]="true" class="contact-label" [checked]="isEdit"
                            label="Edit" formControlName="isEdit" cssClass="permission_class"></ejs-checkbox>
                    </div>
                </div>
                <div class="popup-footer-layout">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <button class="popup-footer-button" id="btn" ejs-button [disabled]="!newshareForm.valid"
                            (click)="Submit()">{{submitTitle}}</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </ejs-dialog>
</div>

<!-- <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <ejs-dialog #AddTransferDialog id='dialog' header='Transfer Ownership' width='750px' [visible]='isOpen' showCloseIcon='true'
        isModal='true'>
        <ng-template #content>
            <form name="form" [formGroup]="newTransferForm" class="NewUserLayout" novalidate>
                <div class="popup-body-layout" fxFlex fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="20px">
                    <div class="form-group" fxLayoutGap="10px">
                        <label class="label">Transfer from</label>
                        <div class="message-input">
                            <input type="text" class='input-control groupname' placeholder="" formControlName="transferName" />
                        </div>
                    </div>
                    <div class="form-group" fxLayoutGap="10px">
                        <label class="label">Transfer to</label>
                        <div class="user-input">

                            <ejs-dropdownlist class="dropdownInPopup" #samples [dataSource]='contacts' [fields]='fields' [allowFiltering]='true' (filtering)='onFiltering($event)'
                                (select)='selectedContact($event)' [popupHeight]="160" [placeholder]="placeholder" formControlName="userConnectionId">
                            </ejs-dropdownlist>
                        </div>
                    </div>

                </div>
                <div class="popup-footer-layout">
                    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                        <button class="popup-footer-button" id="btn" ejs-button (click)="Submit()">Share</button>
                    </div>
                </div>
            </form>
        </ng-template>
    </ejs-dialog>
</div> -->

<div>
    <ejs-dialog #DeleteDialog header='Confirmation' class="popup-footer-layout delpopup" [visible]='isOpenDeletePopup'
        showCloseIcon='true' isModal='true'>
        <ng-template #content>
            <div fxFlex fxLayout="column" fxLayoutAlign="start none">

                <div class="popup-body-layout">
                    <p class="delete-popup-alertmsg">Are you sure you want to delete the selected user?</p>
                </div>

                <div class="popup-footer-layout delpopup">
                    <div fxFlex fxLayout="row" fxLayoutAlign="end" class="delete-popup-footer">
                        <button class="header-actions-button yesbtn" id="btn" ejs-button
                            (click)="okClick()">Yes</button>
                        <button class="header-actions-button nobtn" id="btn" ejs-button
                            (click)="cancelClick()">No</button>
                    </div>
                </div>

            </div>
        </ng-template>
    </ejs-dialog>
</div>